*~
*.pyc
*.swp
*.la
*.lo
*.o
*.class
.deps
.dirstamp
autom4te.cache
aclocal.m4
m4/libtool.m4
m4/lt*.m4
ltmain.sh
libtool
config.guess
config.log
config.sub
config.status
configure
depcomp
missing
.libs/
Makefile
!GemX/Makefile
Makefile.in
